* {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(20deg, hsl(0, 35%, 70%), hsl(0, 0%, 90%));
    margin: 0;
    min-width: 460px;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

footer {
    color: rgb(80, 83, 88);
    font-size: 13px;
    padding: 15px;
    text-align: center;
}

section {
    height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

#home ul {
    justify-content: space-between;
}

a {
    color: inherit;
    text-decoration: inherit;
    font-weight: 500;
}

a:hover {
    color: hsl(0, 50%, 50%);
    padding: 6px;
    margin: -6px;
    border-radius: 20%;
}

button:hover {
    background-color: hsl(0, 35%, 60%);
    color: black;
}

h1, h2, h3 {
    font-weight: 500;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 18px;
    line-height: 1.3em;
}

button {
    background-color: black;
    color: white;
    width: 120px;
    border-radius: 5px;
    padding: 15px;
    border: none;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

.repos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.repo {
    background-color: rgba(255, 255, 255, .2);
    padding: 10px;
    border-radius: 10px;
}

iframe, img {
    width: 100%;
}

img {
    height: 160px;
}

.quotes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.quotes p {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1500px) {
    section {
        width: 40%;
    }
    #project {
        width: 50%;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1499px) {
    section {
        width: 50%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1299px) {
    section {
        width: 60%;
    }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
    section {
        width: 70%;
    }
}

@media screen and (max-height: 700px) and (min-height: 100px)  {
    section#project {
        width: 90%;
    }
    .repos {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
    }
    h2 {
        font-size: 24px;
    }
    .quotes p {
        margin: 0;
    }
    iframe {
        width: 80%;
        height: 210px;
        margin: 0 auto;
    }
}